.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  width: 40vw; /* Use vw for width */
  min-width: 400px; /* Maximum width */
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 2vh;
  background-color: #f9f9f9;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-input {
  display: flex;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1.5vh;
  border-radius: 5px;
}

.chat-input button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5vh;
  margin-left: 5px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .chat-input input {
    font-size: 1.5vh;
  }

  .chat-input button {
    font-size: 1.5vh;
  }
}
