/* src/components/Chat.css */
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 86.9vh;
  width: 98vw;
  margin: auto;
  padding: 10px;
  background-color: #00214d;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-input {
  display: flex;
  width: 48vw;
  max-height: 10vh;
  align-self: center;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  background-color: #010710;
  border: 1px solid #001C42;
  color: white;
  width: auto;
  max-height: 20vh;
  overflow-y: auto;
  border-radius: 5px;
}

.chat-input button {
  padding: 10px;
  border: none;
  background-color: white;
  color: #010710;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
}
