/* src/components/Message.css */
.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  align-items: center;
  width: 48vw;
}

.user {
  background-color: #003780;
  color: white;
  align-content: right;
  width: 48vw;
  max-width: 48vw;
}

.bot {
  background-color: #020f20;
  color: white;
  align-self: flex-start;
  width: 48vw;
  max-width: 48vw;
}
