.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  padding: 1vh;
  background-color: #282c34;
  color: white;
}

.logo {
  margin-left: 5vh;
  height: 60px;
}

.status {
  cursor: pointer;
  font-size: 2vh;
  margin-right: 2vh;
  margin-left: auto;
}

.clear-chat {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 2vh;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5vh;
  margin-left: 20px;
}
