/* Desktop styles */
.navbar-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #001021;
  color: white;
  box-sizing: border-box;
}

.logo {
  height: 10vh;
  margin-left: 3vh;
}

.status-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.status {
  cursor: pointer;
  font-size: 2vh;
  margin-right: 1vh;
}

.toggle-protocol {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 2vh;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 1vh;
  min-width: 100px;
}

.clear-chat {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 2vh;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 3vh;
}

/* Mobile styles */
@media (max-width: 768px) {
  .navbar-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #001021;
    color: white;
    width: 100%;
    padding: 10px;
  }

  .navbar-top,
  .navbar-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navbar-top .logo {
    margin-left: 10px;
  }

  .status {
    font-size: 3vw;
    margin-right: 0;
    padding-right: 5vw;
  }

  .logo {
    height: 5vh;
    padding-left: 1vh;
    margin-left: 10px;
  }

  .toggle-protocol,
  .clear-chat {
    margin: 5px 0;
    width: 90%;
    font-size: 2.5vw;
  }

  .toggle-protocol {
    margin-right: 10px;
    margin-left: 20px;
  }

  .clear-chat {
    margin-left: 10px;
    margin-right: 20px;
  }
}
